#red_circle {
	width: 200px;
	height: 200px;
	background: red;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#white_circle {
	width: 200px;
	height: 200px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#grey_circle {
	width: 200px;
	height: 200px;
	background: #444444;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#small_grey_circle {
	width: 50px;
	height: 50px;
	background: #444444;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#small_red_circle {
	width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#small_blue_circle {
	width: 50px;
	height: 50px;
	background: blue;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#small_yellow_circle {
	width: 50px;
	height: 50px;
	background: yellow;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
