#red_circle {
	width: 350px;
	height: 350px;
	background: red;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#white_circle {
	width: 350px;
	height: 350px;
	background: white;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#grey_circle {
	width: 350px;
	height: 350px;
	background: #111111;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#small_grey_circle {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#small_red_circle {
	width: 50px;
	height: 50px;
	background: red;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#small_blue_circle {
	width: 50px;
	height: 50px;
	background: blue;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#small_yellow_circle {
	width: 50px;
	height: 50px;
	background: yellow;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

table.middle {
	position:absolute;
	top:20%;
	height:10em;
	margin-top:-5em;
	width: 90%;
	margin-left:5%; 
	margin-right:5%;
	border: 1px solid grey;
	border-collapse: collapse;
}
td.border {
	border: 1px solid grey;
	padding: 20px;
}

.jpanel {
	background-color: black;
	background: black;
	color: white;
	font-family: Arial;
}

iframe {
	border: 0;
}
#main_light0 {
	width: 350px;
	height: 350px;
	background: #000000;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#main_light1 {
	width: 350px;
	height: 350px;
	background: #000000;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#main_light2 {
	width: 350px;
	height: 350px;
	background: #000000;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}

#main_light0_1 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light0_2 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light0_3 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light1_1 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light1_2 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light1_3 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light2_1 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light2_2 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#main_light2_3 {
	width: 100px;
	height: 100px;
	background: #111111;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
